a:link, a:visited {text-decoration: none; color: #333;}
.btn {border-radius:3px;padding:5px 11px;color:#fff !important; display:inline-block; background-color:#4e5ef2;margin-left:3px;border:1px solid #4e5ef2;vertical-align:middle}
.board_list {width:100%;border-top:2px solid #252525;border-bottom:1px solid #ccc;text-align: center;}
.board_list thead th:first-child{width: 60px;height: 26px;text-align: center;}
/*
.board_list thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle}
.board_list tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
*/
.board_list tbody td.title {text-align:left; padding-left:20px}
.board_list tbody tr td.td_num {font-size: 11px;text-align: center;}
.board_list tbody td a {display:inline-block}
 /*  */
.board_view {width:100%;border-top:2px solid #252525;border-bottom:1px solid #ccc}
.board_view tbody tr th {text-align:left;background:#f7f7f7;color:#3b3a3a}
.board_view tbody td.view_text {font-size:20px; border-top:1px solid #ccc; border-bottom:1px solid #ccc;padding:45px 18px 45px 18px}

.answer_view {width:100%;border-top:2px solid #252525;border-bottom:1px solid #ccc}
.answer_view tbody tr th {text-align:left;background:#f7f7f7;color:#3b3a3a}
.answer_view tbody td.view_text {font-size:16px; border-top:1px solid #ccc; border-bottom:1px solid #ccc;padding:20px 10px}
 /*  
.board_view tbody th.list_tit {font-size:13px;color:#000;letter-spacing:0.1px}
.board_view tbody .no_line_b th, .board_view tbody .no_line_b td {border-bottom:none}
.board_view tbody th, .board_view tbody td {padding:15px 0 16px 16px;border-bottom:1px solid #ccc}
.board_view tbody th.th_file {padding:0 0 0 15px; vertical-align:middle}
 */

.page_head{
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: 15px;
margin-left: 30px;
margin-top: 15px;
margin-bottom: 15px;
}
.page_head a{
color: #1b1c1e;
font-size: 3.5rem;
line-height: 1.2;
font-weight: 700;
}
.page_body{
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: 15px;
margin-left: 30px;

padding: 2rem 1rem;

}
.wrting{
color: #ffffff;
background-color: #4e5ef2;
border-color: #4e5ef2;
font-size: 17px;
font-weight: 700;
width: 83px;
height: 36px;
}
.frm{
margin-bottom: 8px;
}
.f{
box-sizing: inherit;
border-radius: 10px;
padding: 6px 12px;	
}
.q{
box-sizing: inherit;
border-radius: 10px;
padding: 6px 12px;
width: 250px; 
}
.page{
justify-content: center;
}
.display-flex{display: flex;}
<!-- color -->
.cmain{
color: #26265d;
}
.cred{
color: #ff3b47;
color: #ef2936;
color: #4554e5;
color: #4857ee;
color: #3e4cd3;
color: #e5e4e9;
color: #ffffff;
color: #0e0e0e;
color: #000000;
}
.cb1{
color: #26205e;	
}
.cb2{
color: #5872e9;	
}
.cp1{
color: #ff468d;
}
.cp2{
color: #ffbfe3;
}
.cm1{
color: #01ebe2;
}
.cm2{
color: #a7ffef;
}
.cy1{
color: #f3d24d;
}
.cy2{
color: #ffef8d;
}
.co1{
color: #a8751c;
}
.co2{
color: #f1d34f;
}
.tb1{
background: #dce5f6;
}
.tb2{
background: #ffbfe3;
border-radius: 3em;
}
.tc1{
color: #faf6f7;
}


<!-- option -->
.fl{
float: left;
}
.fr{
float: right; 
}

#mg-bottom_0{
	margin-bottom: 0px;	
}
#mg-right_32{
	margin-right: 32px;	
}
.mg-auto_10{
	margin: 10px auto;	
}
#pd-top-10{
	padding-top: 10px;
}
#pd-bottom-10{
	padding-bottom: 10px;
}
<!-- mystyle -->
.h-16{height: 16px;}
.h-32{height: 32px;}
.h-64{height: 64px;}
.w-16{height: 16px;}
.w-32{height: 32px;}
.w-64{height: 64px;}
.pd-t-16{padding-top: 16px;}
.pd-t-32{padding-top: 32px;}
.pd-t-64{padding-top: 64px;}
.pd-r-16{padding-right: 16px;}
.pd-r-32{padding-right: 32px;}
.pd-r-64{padding-right: 64px;}
.pd-b-16{padding-bottom: 16px;}
.pd-b-32{padding-bottom: 32px;}
.pd-b-64{padding-bottom: 64px;}
.pd-l-16{padding-left: 16px;}
.pd-l-32{padding-left: 32px;}
.pd-l-64{padding-left: 64px;}
.mg-t-16{margin-top: 16px;}
.mg-t-32{margin-top: 32px;}
.mg-t-64{margin-top: 64px;}
.mg-r-16{margin-right: 16px;}
.mg-r-32{margin-right: 32px;}
.mg-r-64{margin-right: 64px;}
.mg-b-16{margin-bottom: 16px;}
.mg-b-32{margin-bottom: 32px;}
.mg-b-64{margin-bottom: 64px;}
.mg-l-16{margin-left: 16px;}
.mg-l-32{margin-left: 32px;}
.mg-l-64{margin-left: 64px;}
